.mat-line {
  word-wrap: break-word !important; 
        white-space: pre-wrap !important;
}
.title {
  color: #626e6f;
  font-family: "Anton", sans-serif;
}
.profile-photo {
  transform: translateY(-25%);
}
.download-action {
  transform: translateY(-100%);
}
.container-tiny {
  padding: 5px;
}
.downloadble {
  overflow: hidden;
  height: 0;

  * {
    font-size: 18pt;
  }
  small,
  small * {
    font-size: 16pt;
  }
  h6,
  h6 * {
    font-size: 18pt;
  }
  h5,
  h5 * {
    font-size: 19pt;
  }
  h4,
  h4 * {
    font-size: 20pt;
  }
  h3,
  h3 * {
    font-size: 21pt;
  }
  h2,
  h2 * {
    font-size: 22pt;
  }
  h1,
  h1 * {
    font-size: 23pt;

    span {
      font-size: 40pt;
    }
  }
  ul, ol, li {
    font-size: 18pt;
  }
}
