.title {
    color: #626e6f;
    font-family: 'Anton', sans-serif;
}
.profile-photo {
    transform: translateY(-25%);
}
.download-action {
    transform: translateY(-100%);
}
.container-tiny {
    padding: 5px;
}